<div class="container-fluid mt-4" id="home">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Python & eel.js</h1>
                        <p>
                            Pagina de prueba para testear funcionamiento entre Javascript y Python
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui vitae
                            perspiciatis et maiores asperiores sequi vero, labore facilis quis
                            laudantium eum consequatur ex quia nisi sapiente ducimus earum id
                            impedit!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
